.header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 0.8em 1em;
    background: black;
    color: white
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 5%;
    flex-basis: 10%;
}
.logoImg,
.logoTitle {
    width: 50%;
    font-size: 0.5em;
}

.input {
    flex-basis: 80%;
    font-size: 1.2rem;
    outline: 0;
}

.button {
    outline: 0;
    background: darkgrey;
}

.searchImg {
    height: 100%; 
    padding: 0.5em 0.2em;
}

