.header {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0.8em 1em;
    background: rgb(22, 15, 20);
    color: white
}
.logo {
    display: flex;
    align-items: center;
    margin: 1%;
}
.logoImg,
.logoTitle {
    font-size: 1em;
}

.logoImg {
    color: rgb(168, 37, 37);     
}

.input {
    flex-basis: 100%;
    font-size: 1.2rem;
    outline: 0;
}

.button {
    outline: none;
    background: beige;
    height: 80%;
}

.searchImg {
    /* width:100%; */
}

